data/raw/*
!data/raw/.gitkeep
data/processed/*.csv
data/processed/*.parquet
!data/processed/.gitkeep
.ipynb_checkpoints/
__pycache__/
.env
.venv/
*.pyc
.DS_Store
.pytest_cache/
.vscode/
notebooks/.ipynb_checkpoints/
*.pdf
*.png
models/
*.html
!georisk_globe/frontend/index.html
profiling_reports/
streamlit_*.log
_check_*.py
mlflow.db
mlruns/
mlartifacts/
*.sqlite
