pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
streamlit>=1.56.0
h3>=4.0.0
requests
scipy
jupyter
joblib
folium
ydata-profiling
missingno
pre-commit
streamlit
pydeck
streamlit-deckgl
branca
folium
streamlit-folium>=0.27
openpyxl
geopandas
shapely
mlflow
